{% load crispy_forms_tags %}
   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Taskly|ViewTask</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
{% include 'dashboard_base.html' %}
<body>
    <br>
    <h2 class="text-center">This is View Task </h2>
    <hr>
    {% for tsk in task %}
        <div class="container bg-white shadow-md p-5 form-layout" style="margin-top:20px;">
        {{ tsk.title }}
        <br><br>
        {{ tsk.content }}
            <br><br>
    <a class="btn btn-info" href="{% url 'update_task' tsk.id %}"> Update Task </a>
            <br><br>
    <a class="btn btn-danger" href="{% url 'delete_task' tsk.id %}"> Delete Task </a>
            <br><br>
        </div>
    {% endfor %}

</body>
</html>
